<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VML - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          // Redirect the user to a URL including their timezone
          window.location.href = `/loaded?timezone=${userTimeZone}`;
        });
      </script>
</body>
</html>